html
  head
    script.
      document.write('<script src="//' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    script(src='app.coffee')
  body
    h1 Hello World :):)
