html
  head
    script.
      document.write('<script src="//' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
  body
    #container
    footer
      script(src='app.js')
